<%= simple_form_for [:backoffice, @gym], remote: true do |f| %>
    <div class="modal-body">
      <div class="errors"></div>
      <%= f.input :name, input_html: { class: 'form-control' }, required: true, autofocus: true %>
      <%= f.error :name %>
    </div>
    <div class="modal-footer">
      <%= button_tag type: :reset, class: "btn btn-default", "data-dismiss": "modal" do %>
        <%= I18n.t 'buttons.close' %>
      <% end %>
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
<% end %>
