<!-- Navbar -->
            <div class="page-sidebar sidebar">
                <div class="page-sidebar-inner slimscroll">
                    <div class="sidebar-header">
                        <div class="sidebar-profile">
                            <a href="javascript:void(0);" id="profile-menu-link">
                                <div class="sidebar-profile-image">
                                    <%= image_tag('backoffice/avatar1.png', class: "img-circle img-responsive", alt: "") %>
                                </div>
                                <div class="sidebar-profile-details">
                                    <span>David Green<br><small>Art Director</small></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ul class="menu accordion-menu">

                        <li><a href="index.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
                        <li><a href="profile.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-user"></span><p>Profile</p></a></li>



                        <li class="droplink active open"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-th"></span><p><%= t 'labels.tables' %></p><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <% if can? :update, Gym %>
                                    <li class="<%= 'active' if params[:controller] == 'backoffice/gyms' %>">
                                        <%= link_to backoffice_gyms_path do %>
                                            <%= Gym.model_name.human %>
                                        <% end %>
                                    </li>
                                <% end %>
                                <% if can? :update, Student %>
                                    <li class="<%= 'active' if params[:controller] == 'backoffice/students' %>">
                                        <%= link_to backoffice_students_path do %>
                                            <%= Student.model_name.human %>
                                        <% end %>
                                    </li>
                                <% end %>
                                <% if can? :update, Admin %>
                                    <li class="<%= 'active' if params[:controller] == 'backoffice/admins' %>">
                                        <%= link_to backoffice_admins_path do %>
                                            <%= Admin.model_name.human %>
                                        <% end %>
                                    </li>
                                <% end %>
                                <% if can? :update, Profile %>
                                    <li class="<%= 'active' if params[:controller] == 'backoffice/profiles' %>">
                                        <%= link_to backoffice_profiles_path do %>
                                            <%= Profile.model_name.human %>
                                        <% end %>
                                    </li>
                                <% end %>
                                <% if can? :update, Role %>
                                    <li class="<%= 'active' if params[:controller] == 'backoffice/roles' %>">
                                        <%= link_to backoffice_roles_path do %>
                                            <%= Role.model_name.human %>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        </li>

                    </ul>
                </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->
