<% content_for :javascripts do %>
  <%= javascript_include_tag 'backoffice/profiles' %>
<% end %>

<div class="page-title">
    <h3><%= t 'labels.register', model: @profiles.model_name.human %></h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Layouts</a></li>
            <li class="active">Blank Page</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-heading clearfix">
          <h4 class="panel-title">Pesquisar</h4>
        </div>
        <div class="panel-body">
          <%= form_tag backoffice_profiles_path, method: :get, remote: true do %>
            <div class="form-group">
              <div class="input-group">
                <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Pesquisar por...", id: "profile_search" %>
                <span class="input-group-btn">
                    <%= submit_tag "Pesquisar", class: "btn btn-primary", remote: true %>
                </span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title"><%= t('messages.listing', model: @profiles.model_name.human(count: 2)) %></h4>
            <%= link_to new_backoffice_profile_path, { class: 'pull-right btn btn-success btn-addon m-b-sm btn-sm', 'data-toggle': "modal", 'data-target': '.bs-example-modal-lg', 'data-backdrop': 'static', 'data-keyboard': 'false', remote: true } do %>
                <i class="fa fa-plus"></i><%= t('buttons.new') %>
            <% end %>
        </div>
        <div class="panel-body">
          <div class="row">
            <% content_for :modal_lg_content do %>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel"><%= Profile.model_name.human %></h4>
              </div>
              <div id="profile_form">
                <%= render partial: 'backoffice/profiles/shared/form' %>
              </div>
            <% end %>
            <% content_for :modal_confirm_delete do %>
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
              </div>
              <div class="modal-body">
                <%= t('messages.confirm_delete') %>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('buttons.cancel') %></button>
                  <%= link_to t('buttons.destroy'), "/backoffice/profiles/pony", method: :delete, :class => 'btn btn-danger confirm-delete-button', remote: true %>
              </div>
            <% end %>
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th><%= Profile.human_attribute_name("profile.id") %></th>
                      <th><%= Profile.human_attribute_name("profile.name") %></th>
                      <th class="text-right"><%= t 'labels.action' %></th>
                    </tr>
                  </thead>
                  <tbody id="profiles-table">
                    <% if @profiles.blank? %>
                      <tr>
                        <td>Não há registros</td>
                      </tr>
                    <% else %>
                      <%= render partial: 'backoffice/profiles/shared/profile_rows', locals: {profiles: @profiles} %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <%= paginate @profiles, :theme => 'twitter-bootstrap-3',
                  :pagination_class => "pagination-small pagination-centered" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
