<th scope="row"><%= profile.id %></th>
<td><%= profile.name %></td>
<td>
  <div class="text-right">
    <%= link_to edit_backoffice_profile_path(profile), { class: 'btn btn-info btn-addon btn-xs', 'data-toggle': "modal", 'data-target': ".bs-example-modal-lg", remote: true } do %>
      <i class="fa fa-edit"></i><%= I18n.t('buttons.edit') %>
    <% end %>

    <%= link_to '#', class: 'btn btn-danger btn-xs btn-addon call-confirm-delete', :data => { :id => profile.id }  do %>
      <i class="fa fa-trash"></i><%= I18n.t('buttons.destroy') %>
    <% end %>

  </div>
</td>
</div>
